.cartscreen {
    background-color: #FFFDF1;
}


.smallimg {
    height: 75px;
    border-radius: 50%;
    /* border: 4px solid #303030;*/
}

.cart_list {
    box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.06);
}

.productimage {
    display: flex;
    align-items: center;
    justify-content: center;
}

.productdescription {
    padding-right: 1rem;
    color: black;
    font-family: 'poppinsregular';
    /* font-family: 'Nunito', sans-serif; */
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    /* line-height: 20px; */
    /* margin-top: 23px;
    margin-bottom: 14px; */
    text-align: center;

}

.formule {
    text-align: center;
    margin-bottom: 5px;
    font-size: 14px;
}

.min-30 {
    /* font-size: 18px;
    margin-top: 5px; */
    color: #767676
}

.min-30_price {
    font-family: "intersemibold";
    border-width: 0.5px;
    border-color: #767676;
}

.productdelete {
    display: flex;
    padding: 1rem;
    background: linear-gradient(96.63deg, #FF627F 13.87%, #FFBA88 87.26%), #FF9494;
    justify-content: center;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    height: 60%;
}

#buttondelete {
    border: none;
    font-size: 2rem;
    padding-left: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#remove {
    width: 110%;
}

.dashed-top {
    border-top: 1px dashed rgba(0, 0, 0, .16);
}

.add_bag {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Source Sans Pro', Helvetica, serif;
    font-size: 13px;
    width: 85%;
    padding-bottom: 1rem;
    gap: 10px
}

.promotion_button {
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 1rem;
    background-color: white;
    margin-bottom: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: inset 0px 4px 18px rgba(0, 0, 0, 0.09);
}

#promo_input {
    border: none;
    outline: none;
    font-family: 'Source Sans Pro', Helvetica, serif;
    /* font-family: 'Nunito', sans-serif; */
    font-style: normal;
    font-weight: 400;
    background-color: transparent;
    width: 100%;
}

#promo_button {
    background: linear-gradient(104.44deg, rgba(0, 99, 164, 0.38) 108.22%, #E1FBF1 124.03%);
    ;
    color: rgba(0, 52, 86, 0.75);
    border: none;
    padding: 1rem;
    border-radius: 10px;
    font-family: 'source_sans_prosemibold';
    /* font-family: 'Nunito', sans-serif; */
    font-style: normal;
    font-weight: 500;
}

.subtotal {
    width: 100%;
    padding-left: 3rem;
    padding-right: 3rem;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5rem;
    font-family: 'Source Sans Pro', Helvetica, serif;
    /* font-family: 'Nunito', sans-serif; */
    font-weight: 300;
    font-size: 13px;
    color: black;
}

.promotion {
    width: 100%;
    padding-left: 3rem;
    padding-right: 3rem;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    font-family: 'Source Sans Pro', Helvetica, serif;
    font-weight: 300;
    font-size: 13px;
    color: black;
}


/* .recap_cart2_price_ {
    display: flex;
    font-family: "interbold"
}

.recap_cart2_promo {
    font-weight: 800;
    font-size: 18px;
    color: black;
    text-decoration-line: none;
} */

.payment_cart {
    display: flex;
    width: 112%;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
    padding-top: 1rem;
}

.payment_button {
    background-color: black;
    height: 58px;
    border-radius: 59px;
    border: none;
    padding: 10px;
    width: 90%;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.3);
}

.proceder_paiement {
    font-family: 'Source Sans Pro', Helvetica, serif;
    /* font-family: 'Nunito', sans-serif; */
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: white;

}

.minusBtn::after {
    content: '';
    position: absolute;
    top: -125%;
    left: -250%;
    width: 350%;
    height: 350%;

}

.plusBtn::after {
    content: '';
    position: absolute;
    top: -130%;
    left: 0%;
    width: 300%;
    height: 350%;

}